<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Info Tool</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <h1>Please select your country.</h1>

    <!-- Form and dropdown menu for selecting country -->
     <form method="post">
        <label for="country">Country:</label><br><br>
         <select name="country" id="country">
             <option value="none" selected disabled hidden>Select an Option</option>
             {% for country in country_names %}
                <option value="{{ country }}">{{ country }}</option>
             {% endfor %}
         </select><br><br>
        <button type="submit">Get Info</button>
    </form>


    <!-- Printing out country data-->
    {% if country_data %}
        <h2>Information for {{ country_data['name'] }}</h2>
        <div class="all_info"><div class="country_info">
            <p><strong>Capital:</strong> {{ country_data['capital'] }}</p>
            <p><strong>Population:</strong> {{ country_data['population'] }}</p>
            <p><strong>Language(s):</strong> {{ country_data['languages'] }}</p>
        </div>
    {% endif %}

    <!-- Printing out weather data-->
        {% if country_data %}
            <div class="weather_info">
                <p><strong>Temperature (in {{ country_data['capital'] }}): </strong> {{
                    weather["temperature"] }} °C</p>
                <p><strong>Feels Like: </strong> {{ weather["feels_like"] }} °C</p>
                <p><strong>Humidity: </strong> {{ weather["humidity"] }} %</p>
            </div>
            </div>
        {% endif %}

    <!-- Printing out time data-->
        {% if time %}
            <div class="time_info">
                <p><strong>Date & Time (in {{ country_data['capital'] }}): </strong> {{time}}</p>
            </div>
        {% endif %}



    </div>
</body>
</html>